
# CPU alternatives for GPU packages.
# Match the versions to requirements_gpu.txt.

--find-links https://download.pytorch.org/whl/cpu

jax [cpu] >= 0.4.13, < 1

torch==2.0.1
torchaudio==2.0.2
torchvision==0.15.2
