# Install other dependencies before getting to these:

# install torch ourselves first before installing bio-transformers and AbLang
ablang >= 0.2.3
-e git+https://github.com/maximz/bio-transformers.git@sequence-positional-weights-for-fine-tuning#egg=bio-transformers

# numpy must already be installed before we install glmnet
# https://github.com/civisanalytics/python-glmnet
glmnet >= 2.2.1

# install jax first before installing jax-unirep
# Our fork of jax-unirep==2.2.0:
-e git+https://github.com/maximz/jax-unirep.git@validation-loss-improvements-2.2.0#egg=jax-unirep

# Install our glmnet wrapper
wrap_glmnet >= 0.1
